apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.service.type: LoadBalancer
  creationTimestamp: null
  labels:
    io.kompose.service: nginx
  name: nginx
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: nginx
    spec:
      # MEMO: このボリュームはnginxPod専用のボリュームであり、php-fpmと同じではありません
      volumes:
      - name: www-volume
        hostPath:
          path: /var/www
      containers:
      - image: gcr.io/${PROJECT_ID}/${IMAGE_NGINX}:${TAG}
        name: nginx
        ports:
        - containerPort: 80
        resources: {}
        volumeMounts:
        - mountPath: /www
          name: www-volume
      restartPolicy: Always
status: {}
